<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>alura-servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- Gera bug no jetty pois a classe está marcada como depredecated e não vai no pacote .war -->
  <!-- 
  <servlet>
    <servlet-name>EmpresaListServlet</servlet-name>
    <servlet-class>br.com.alura.servlets.Empresa.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpresaListServlet</servlet-name>
    <url-pattern>/empresa/listar</url-pattern>
  </servlet-mapping>
   -->
</web-app>